<div class="votingapi-reaction-item-wrapper">
  <div class="votingapi-reaction-item">
    {% set icon_class = 'votingapi-reaction-image ' ~ icon_class %}

    {% if icon_type is same as('uploaded_image') %}
      <img{{ create_attribute({
        class: icon_class,
        src: uploaded_image,
        alt: icon_alt,
      }) }}>
    {% endif %}

    {% if icon_type is same as('remote_image') %}
      <img{{ create_attribute({
        class: icon_class,
        src: remote_image,
        alt: icon_alt,
      }) }}>
    {% endif %}

    {% if icon_type is same as('html_element') %}
      <{{ html_element }} {{ create_attribute({
        class: icon_class,
        'aria-label': icon_alt,
      }) }}>
      </{{ html_element }}>
    {% endif %}

    {% if label %}
      <span class="votingapi-reaction-label">{{ label }}</span>
    {% endif %}
  </div>

  {% if count is not empty %}
    <div class="votingapi-reaction-count">{{ count }}</div>
  {% endif %}
</div>
